@import url("primevue/resources/themes/mdc-dark-indigo/theme.css");
@import url("./fonts.css");

@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  font-family: "Bender EFT";
  font-weight: normal;
}

body {
  background-image: url("~/assets/images/eft_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/* 
PRIMEVUE
*/
.p-dialog-header {
  transform: translateY(30px);
  background: rgb(255, 255, 255, 0);
  z-index: 9999;
  height: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &.p-dialog-header:hover {
    cursor: move;
  }

  & .p-dialog-header-icon {
    background-color: rgb(0, 0, 0, 0);
    color: rgb(0, 0, 0, 0);
  }
}

.p-dialog-content {
  background: none;
}

.p-dialog {
  box-shadow: none;
}

[data-p-index="0"] {
  color: rgb(6, 221, 6);
}

.p-autocomplete-panel.p-component.p-ripple-disabled {
  border: 1px solid rgb(91, 93, 91);
  color: white;
  background-color: rgba(31, 31, 31, 0.693);
  backdrop-filter: blur(6px);
}

.p-autocomplete-panel.p-component.p-ripple-disabled {
  border-radius: 0;
}

.p-virtualscroller::-webkit-scrollbar {
  width: 8px;
}

.p-virtualscroller::-webkit-scrollbar-thumb {
  background: rgb(80, 79, 80);
}

.p-autocomplete-empty-message {
  padding: 10px;
}